@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.things > .content {
    float: left;
    width: 50%;
    height: 200px;
    margin-top: 300px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    position: relative;
  }
  
  .things > .content h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 170px;
    margin-left: -450px;
    position: absolute;
    height: 0px;
    color: #b1f80be7;
    width: 30vw;
  }
  
  /* Arrow */
  
  .arrow {
    position: relative;
    margin: 0 auto;
    width: 100px;
    padding-right: 60vw;
  }
  
  .arrow .curve {
    border: 4px solid #b1f80be7;
    border-color: transparent transparent transparent #b1f80be7;
    height: 360px;
    width: 1200px;
    border-radius: 230px 0 0 150px;
  }
  
  .arrow .point {
    position: absolute;
    left: 40px;
    top: 315px;
  }
  
  .arrow .point:before, .arrow .point:after {
    border: 2px solid #b1f80be7;
    height: 27px;
    content: "";
    position: absolute;
  }
  
  .arrow .point:before {
    top: -11px;
    left: -11px;
    transform:rotate(-74deg);
    -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
  }
  
  .arrow .point:after {
    top: -20px;
    left: 5px;
    transform:rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
  }