@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.container {
  position: absolute;
    display:flex;
    align-items: center;    
    justify-content: center;
    height: 100px;
    flex-direction: column;
    margin-top: 55vh;
    width: 80%;
  }
  @media screen and (min-width: 480px) {
    .container {
      margin-top: 35vh;
    }
  }
  @media screen and (min-width: 992px) {
    .container {
      margin-top: 55vh;
    }
  }
  
.container #trend-text {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: #e44343e7;
  }