  .movie-link:link {
    text-decoration: none;
    font-size: 1rem;
  }
  
  .movie-link {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:10px;
  }
  
  .movie-img-searchbar {
    width: 100px;
    border-radius: 15px;
  }